{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block content %} 
<div class="container">
    <br/>
	<div class="row justify-content-center pad">
                        <div class="col-12 col-md-10 col-lg-8 pad">
                            <form class="card card-sm" method="post" action="/musicsearch/search/">
                                {% csrf_token %}
                                <div class="card-body row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-search h4 text-body"></i>
                                    </div>
                                    
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search tracks" name="keyword">
                                    </div>
                                    
                                    <div class="col-auto">
                                        <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
                                    </div>
                                   
                                </div>
                            </form>
                        </div>
                        
                    </div>
</div>
{% endblock %}