#searchForm{
    display: absolute;
    width: 100%;
    margin-left: 11%;
    margin-top: 70px;
}

#searchForm .form-row .col {
  margin: 0;
  padding: 0;
}
#searchForm .form-row button, #searchForm .form-row input {
  border: 1px solid #DBDBDB;
  border-radius: 0;
  margin: 0;
}
#searchForm .form-row input {
  border-right: 0px;
  width: 750px;
}
#searchForm .form-row button {
  width: 50px;
}
#searchForm .form-row button i{
 color: #FFFFFF;
}
#searchForm .form-row button:hover{
    background: #2ED654 !important;
}

.form-control:focus,
.btn:focus {
    border-color: none !important;
    box-shadow: none !important;
}
}
/* CSS Document */