a {
    color: white; 
    background-color: transparent; 
    text-decoration: none;
}

footer{
   
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    text-align: center;
    background-color:#252525;
}

footer p {
    padding: 10.5px;
    margin: 0px;
    line-height: 100%;
    color:white;
}
.back{
background-image:url(j.jpeg);
background-size: auto;
background-repeat: no-repeat;  
}
body{
background-color: #2C3140;
}
.left{
float:left;
}
.inline{
display:inline;
}
.padright{
padding-right:5px;
}
.color{
background-color:#252525;
}
.valkone{
color:white;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}





input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #105187;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}


.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
.pad{
  padding-top:12%;
}
